#bordas{
    /* border: 1px solid green;
    dotted;
    dashed;
    outset; */

    /* border-color: red green blue gray;
    border-width: 2px 10px 1px 15px;
    border-style: solid dotted dashed outset; */
}

body{
    /* background-image: url("../img/logo.png");
    background-size: 300px;
    background-repeat: no-repeat;
    background-position: center;  */
}

/* .titulo1{
    border: 1px solid red;
    padding: 60px;
}
.titulo2{
    border: 1px solid green;
    margin: 60px;
} */

/* .btn{
    padding:10px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: none;
    background-color: green;
    color: white;
    border-radius: 10px;
    cursor: pointer;
} */
.conteudo{
    background-color: green;
    width: 40%;
    height: 200px;
    border: 1px solid black;
    float: left;
    margin-left: 5%;
    padding: 10px;
}

@media(max-width: 600){
    body{
        background-color: red;
    }

    .conteudo{
        width: 90%;
        float:none;        
        margin-left: 0;
        height: 500px;
        margin-top: 2%;
    }

    .texto{
        font-size: 100px;
    }

    .paragrafo{
        font-size: 80px;
    }
}