#bordas{

}


#inp{
    padding: 5px;
    border: none;
    border-bottom: 1px solid #553eda;
    background-color: rgba(207, 76, 179, 0.3);
    outline: none;
    border-radius: 10px;
    
}

#inp:focus{
    background-color: red;    
    border: 2px solid #553eda;
}

#btn{
    display: block;
    margin-top: 15px;
    text-decoration: none;
    color: white;
    border: 1px solid black;
    width: 80px;
    padding: 5px;
    background-color: blue;
    border-radius: 10px;
    transition: 0.3s;
    box-shadow: 3px 3px 3px black;
}

#btn:hover{
    background-color: #10203b;
}